*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* CSS Reset Above; Custom Code Below */

body {
  position: relative;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  background-color: gray;
}

#main-container {
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
  background-color: black;
  min-height: 630px;
  min-width: 630px;
}

.title-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 7.5rem;
  padding: 20px;
}

.title-screen div:nth-child(1) {
  align-self: flex-start;
}

.title-screen div:nth-child(3) {
  align-self: flex-end;
}

.game-board {
  display: grid;
  grid-template: 200px 200px 200px / 200px 200px 200px;
  justify-items: center;
  align-items: center;
}

.game-board div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90%;
  width: 90%;

  border: solid 1px black;
  background-color: white;

  font-size: 5rem;
}

#sub-container {
  border: solid 1px black;
  border-radius: 10px;
  padding: 15px;
  gap: 5px;
  background-color: black;
  min-width: 630px;
  min-height: 180px;

  display: flex;
  justify-content: space-around;
}

.scoreboard {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#sub-container div {
  color: white;
}

.scoreboard-one {
  width: 280px;
  font-size: 1.5rem;
  padding: 1rem;

  display: grid;
  grid-template: 1fr / 60px 1fr;
}

.scoreboard-two {
  width: 280px;
  font-size: 1.5rem;
  padding: 1rem;

  display: grid;
  grid-template: 1fr / 1fr 60px;
}

.player-one-marker,
.player-two-marker {
  font-size: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-one-score,
.player-two-score,
.player-one-name,
.player-two-name {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}

.player-one-score,
.player-two-score {
  font-size: 2.5rem;
}

.active-player-border {
  border: solid 2px green;
  border-radius: 5px;
}

.new-game-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-game-buttons button,
button {
  border-radius: 5px;
  margin: 20px;
  height: 50px;
  width: 200px;
  text-transform: uppercase;
  font-size: 1.25rem;
}

button:hover {
  color: green;
  border: solid 1px green;
  cursor: pointer;
}

.hidden {
  display: none;
}

dialog {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 2rem;
}

.dialog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

dialog h1 {
  margin-bottom: 10px;
}